body {
  background-color: rgb(53, 53, 53);
  color: beige;
}

h1 {
  display: inline-block;
  position: relative;
  left: 50%;
  right: 40%;
}

form {
  position: relative;
  top: 15rem;
  /* left: 25%; */
  /* left: 42%; */
}

table {
  margin-top: 10px;
  position: relative;
  top: 15rem;
  /* left: 25%; */
  /* left: 42%; */
  table-layout: fixed;
  width: 480px;
  border-collapse: collapse;
  /* border-spacing: 5px; */
}

@media (max-width: 800px) {
  form {
    position: relative;
    left: 32%;
  }

  table {
    position: relative;
    left: 32%;
  }
}

@media (min-width: 801px) {
  form {
    position: relative;
    left: 42%;
  }

  table {
    position: relative;
    left: 42%;
  }
}

th {
  font-size: 20px;
}

td {
  /* padding-left: 10px; */
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

#title-column {
  width: 300px;
}

#rating-column {
  width: 80px;
}

#button-column {
  width: 80px;
}

#submit-button {
  cursor: pointer;
  background-color: lightseagreen;
  height: 30px;
  width: 80px;
  border-radius: 15px;
  border: 1px solid white;
}

button {
  cursor: pointer;
  background-color: lightcoral;
  /* width: 70px; */
  margin-left: 10px;
  border-radius: 15px;
  border: 1px solid white;
}

input {
  height: 25px;
}

#movie-title {
  width: 300px;
}

#movie-rating {
  width: 80px;
}



.sortable {
  cursor: pointer;
}

.sortable .th-ascend::after {
  content: "\25b4";
}

.sortable .th-descend::after {
  content: "\25be";
}

.sortable .th-ascend::after,
.sortable .th-descend::after {
  margin-left: 5px;
}

/* Below will shade the background of the table header to be slightly darker */
.sortable .th-ascend,
.sortable .th-descend {
  background: rgba(0, 0, 0, 0.1);
}